[submodule "subprojects/gvc"]
	path = subprojects/gvc
	url = https://gitlab.gnome.org/GNOME/libgnome-volume-control.git
[submodule "subprojects/gmobile"]
	path = subprojects/gmobile
	url = https://gitlab.gnome.org/guidog/gmobile.git
